
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
  font-family: 'Satoshi Variable', 'Source Sans Pro'; 
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}

.RewardContainer {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: scroll;
  // background-color: #d9e7ed;
  // background-image: url('../../assets/bgSummary.png');
  display: flex;
  justify-content: center;
  align-items: center;
}


//Loader css
@keyframes rotate-loading {
  0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
  }
}

@keyframes rotate-loading {
  0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-loading {
  0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-loading {
  0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate-loading {
  0% {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
  }
}

@keyframes loading-text-opacity {
  0% {
      opacity: 0
  }

  20% {
      opacity: 0
  }

  50% {
      opacity: 1
  }

  100% {
      opacity: 0
  }
}

@-moz-keyframes loading-text-opacity {
  0% {
      opacity: 0
  }

  20% {
      opacity: 0
  }

  50% {
      opacity: 1
  }

  100% {
      opacity: 0
  }
}

@-webkit-keyframes loading-text-opacity {
  0% {
      opacity: 0
  }

  20% {
      opacity: 0
  }

  50% {
      opacity: 1
  }

  100% {
      opacity: 0
  }
}

@-o-keyframes loading-text-opacity {
  0% {
      opacity: 0
  }

  20% {
      opacity: 0
  }

  50% {
      opacity: 1
  }

  100% {
      opacity: 0
  }
}



.loadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #d9e7ed;
  .loading-container {
      // height: 100px;
      position: relative;
      // width: 100px;
      border-radius: 100%;
      // margin: 40px auto;

      #loading-text {
          -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
          -o-animation: loading-text-opacity 2s linear 0s infinite normal;
          -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
          animation: loading-text-opacity 2s linear 0s infinite normal;
          color: #ffffff;
          font-family: "Helvetica Neue, " Helvetica", " "arial";
          font-size: 125%;
          font-weight: bold;
          margin-top: 54px;
          margin-left: 10px;
          opacity: 0;
          position: absolute;
          text-align: center;
          text-transform: uppercase;
          top: 0;
          width: 100px;
          font-family: 'Satoshi Variable', 'Source Sans Pro';
      }
  }

  .loading-container:hover .loading {
      border-color: transparent #ffffff transparent #ffffff;
  }

  .loading-container:hover .loading,
  .loading-container .loading {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
  }

  .loading {
      height: 125px;
      position: relative;
      width: 125px;
      border-radius: 100%;

      border: 4px solid transparent;
      border-color: transparent #ffffff transparent #ffffff;
      -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
      -moz-transform-origin: 50% 50%;
      -o-animation: rotate-loading 1.5s linear 0s infinite normal;
      -o-transform-origin: 50% 50%;
      -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
      -webkit-transform-origin: 50% 50%;
      animation: rotate-loading 1.5s linear 0s infinite normal;
      transform-origin: 50% 50%;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Satoshi Variable', 'Source Sans Pro';
}

body {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}


.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;

  img {
      width: 60%;
      object-fit: cover;
  }
}
.body {
  width: 50%;
}
.wrapper {
  // width: 50%;
  padding: 3%;
  background-color: #ecf0f3;
  border-radius: 15px;
  // box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;

  form {
      padding: 2%;
  }

  .name {
      font-weight: 600;
      font-size: 1.4rem;
      letter-spacing: 1.3px;
      margin-top: 4%;
      color: #555;
  }

  a {
      text-decoration: none;
      font-size: 0.8rem;
      color: #3e231f;
  }

  a:hover {
      color: #3e231f;
  }

  .btn {
      box-shadow: none;
      width: 100%;
      height: 40px;
      background-color: #a88e6a;
      color: #fff;
      border-radius: 25px;
      box-shadow: 3px 3px 3px #b1b1b1,
          -3px -3px 3px #fff;
      letter-spacing: 1.3px;
  }

  .form-field {
      padding-left: 10px;
      margin-bottom: 20px;
      border-radius: 20px;
      box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;

      .fas {
          color: #555;
      }

      input {
          width: 100%;
          display: block;
          border: none;
          outline: none;
          background: none;
          font-size: 1.2rem;
          color: #666;
          padding: 10px 15px 10px 10px;
      }
  }
}

@media(max-width: 380px) {
  .wrapper {
      margin: 30px 20px;
      padding: 40px 15px 15px 15px;
  }
}

.loginbg {
  width: 100%; 
  height: 100%; 
  background-size: 100% 100%; 
  background-repeat: no-repeat; 
  background-position: center;
  position: absolute;
  background: url(../../assets/image-4-bg-cWu.png) center center/cover no-repeat;
}

.loginbgblack {
  background: #000;
  height: 100%; 
  width: 100%; 
  position: absolute; 
  opacity: 0.8;
}

ion-checkbox {
  --size: 22px; 
}

// .toast-layout-baseline .toast-content {
//   background: #298ddf !important;
// }

.test {
  color: #a88e6a;
  font-size: 130%;
}